<p class="red-text">
Using a foreign variable
</p>

<img src="https://www.conceptosydefiniciones.com/wp-content/uploads/2018/01/artwork-spec.png"
class="imge" alt="Mixin with defalut value">


<img src="https://www.conceptosydefiniciones.com/wp-content/uploads/2018/01/artwork-spec.png"
class="imge2" alt="Mixin with overwrite color">


<section>
  <p>I can change my color thanks to a Mixin</p>
</section>
<br>
<br>
<button class="btn-simple">Press me!</button>
<button class="btn-modified">This button extends from the another one!</button>

<br>
<br>

<p>Font size assigned by a sass's map (p)</p>
<small>Font size assigned by a sass's map (small)</small>

<br>
<br>
<strong>FOR EACH STYLES</strong>

<div *ngFor="let i of [1,2,3,4,5]">
  <div class="class-{{i}}"></div>
</div>

<br>
<br>
<strong>IF ELSE SASS</strong>

<p class="p-bg"> This text color depends from the $background-color variable into the SCSS file</p>