@import "../app.component.scss";
@import "../utils/styles/mixins";

.imge {
    @include max-width;
    @include bg-color;
}

.imge2 {
    @include max-width;
    @include bg-color(blue);
}

/* The mixin in this case has {} this denote that all the css rules into {} will be applied in the mixin where the @content was declared*/
section {
    background: blue;
    width: 100%;
    height: 50px;
    @include response-to(800px) {
      background-color: red;
      width: 80%;
    };
  }

  /*
  Extend
    Permiten que una declaración herede estilos declarados por otra regla o placeholder. Los extend se declaran con el símbolo de porcentaje %.

%btn {
  color: red;
  width: 50px;
}

.btn-info {
  @extend %btn;
  background: blue;
}
  */

%btn {
    background-color: #e7e7e7;
    border: none;
    padding: 0.5em;
}

.btn-simple {
    @extend %btn;
}

.btn-modified {
    @extend %btn;
    background: #1c84fc;
    color: aliceblue;
}

/*
Functions
We can use many Sass's functions when we are modifing our CSS. Many functions of them are so useful.
For example for ligther or darken a color or inclusive for invert a color.

darken(#ffffff, 25%)
lighten(#ffffff, 25%)
invert(#ffffff)
La lista completa de funciones se pueden ver aquí:
https://sass-lang.com/documentation/file.SASS_REFERENCE.html#functions

*/

// Create functions
@function suma($numero-uno, $numero-dos) {
  @return $numero-uno + $numero-dos;
}

.div {
  padding: suma(10px, 5px);
}

// Maps

$fs: (
  big: 24px,
  normal: 16px,
  small: 14px,
  x-small: 12px
);

p {
  font-size: map-get($fs, normal);
}

small {
  font-size: map-get($fs, x-small);
}

$fontlist: (
    normal,
    bold,
    italic
);

/*
This allow us to create a classes list with different font weights.
Compiled to CSS: 

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-weight: italic;
}
*/
@each $font in $fontlist {
    // Hacer un scape o interpolacion con #{whatever}
    .font-#{$font} {
        font-weight: $font;
    }
}

/*
.class-1:before {
  content: "1";
}

.class-2:before {
  content: "2";
}

...

.class-5:before {
  content: "5";
}
*/
@for $i from 1 to 6 {
    .class-#{$i} {
      &:before {
        content: "#{$i}"
      }
    }
  }

// if
$background-color: white;

@if $background-color == black {
  .p-bg {
    color: white;
  }
}
@else {
  .p-bg {
    color: black;
  }
}