$color: red !default;
$text-color: $color;

.backsito {
    background-color: $color;
}
.red-text {
    color: $text-color;
}


/*
En proyectos grandes cuya finalidad es crear componentes reutilizables, la metodología BEM juega un papel muy importante.

SASS:
.Block {

	&__Element {

		&-Modifier {

		}
	}
}
CSS:
.Block__Element--Modifier

*/

.btn {

    // Estilos
    /*
    ...
    ...    
    */
      // Element es un elemento dentro de otro en este caso icon dentro de btn
      .btn__icon {

    }

    // Esta tiene que estar dentro
    // Es un modificador es decir mismos elementos algo diferente
    .btn--info {
        
    }

    // Tambien se puede hacer con shorthands
    &__icon {

    }
    &--info {
        
    }
}
