/* 
    @MIXIN
    Los mixins permiten definir estilos reutilizables en toda la hoja de estilos.
    Se definen con la directiva @mixin seguida del nombre del mixin.
    Los mixins se incluyen en las hojas de estilos mediante la directiva @include seguida del nombre del mixin y opcionalmente por una lista de argumentos
*/

@mixin max-width {
    max-width: 200px;
    padding: 24px;
}

// Se pueden poner con parametros

@mixin bg-color($colorbg: red) {
    background-color: $colorbg
}

/*
Una de las características que tienen los mixins es la directiva content. Esta nos permite incluir un bloque de contenido dentro de un mixin.
*/
@mixin response-to($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
  }
